//! FONT
$font: (
  base: (
    Arial,
    Helvetica,
    sans-serif,
  ),
);

//? ----------------------------------------------

//! COLOR
$color: (
  text: (
    base: #333,
    light: #555,
  ),
  white: (
    base: #fff,
  ),
  black: (
    base: #000,
    light:#ccc,
  ),
  green: (
    base: #0ba25e,
    dark: #1a8a58,
  ),
  yellow: (
    base: #F1C40E,
    dark: #E2B400,
  ),
);

//? ----------------------------------------------

//! SIZE
$size: (
  body: 16,
  h2: 16,
  h3: 22,
  h1: 44,
);
