//! FONT
$font: (
  base: (
    Arial,
    Helvetica,
    sans-serif,
  ),
);

//? ----------------------------------------------

//! COLOR
$color: (
  text: (
    base: #333,
  ),
  white: (
    base: #fff,
  ),
  black: (
    base: #000,
  ),
  green: (
    base: #0ba25e,
    dark: #1a8a58,
  ),
);

//? ----------------------------------------------

//! SIZE
$size: (
  body: 16,
);
