.navbar {
  padding: 20px 0;
  font-family: getFontFamily(base);

  //? .navbar__brand
  &__brand {
    @include flexBox();
    padding: 15px;

    img {
      width: auto;
      height: 40px;
    }
  }

  //? .navbar__list
  &__list {
    @include flexBox();
    margin-left: auto;

    //? .navbar__list-item
    &-item {
      display: block;
    }

    //? .navbar__list-link
    &-link {
      padding: 25px 15px;
    }
  }

  //? .navbar__button
  &__button {
    padding-left: 14px;
    padding-right: 14px;
    color: getColor(white, base);

    span {
      display: block;

      &:first-child {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
